<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

<link rel="icon" th:href="@{/admin/assets/images/favicon.ico}" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

<link rel="stylesheet" type="text/css" th:href="@{/admin/bower_components/bootstrap/dist/css/bootstrap.min.css}">

<link rel="stylesheet" type="text/css" th:href="@{/admin/assets/icon/themify-icons/themify-icons.css}">
<link rel="stylesheet" type="text/css" th:href="@{/admin/assets/icon/icofont/css/icofont.css}">
<link rel="stylesheet" type="text/css" th:href="@{/admin/assets/icon/feather/css/feather.css}">

<link th:href="@{/admin/assets/pages/jquery.filer/css/jquery.filer.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/admin/assets/pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" type="text/css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" th:href="@{/admin/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/admin/assets/pages/data-table/css/buttons.dataTables.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/admin/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}">


<link rel="stylesheet" type="text/css" th:href="@{/admin/assets/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/admin/assets/css/jquery.mCustomScrollbar.css}">

</head>

<header th:fragment=""></header>

<body>

</body>

</html>