<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/admin :: content('Publisher List',~{this :: .main})}">

<head>
<title th:text="${title}"></title>
</head>

<body>

	<div class="main">

		<div class="page-wrapper">

			<div class="page-header">
				<div class="row align-items-end">
					<div class="col-lg-8">
						<div class="page-header-title">
							<div class="d-inline">
								<h4>publisher List</h4>
								<span></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="page-header-breadcrumb">
							<ul class="breadcrumb-title">
								<li class="breadcrumb-item" style="float: left;"><a
									href="../index.html"> <i class="feather icon-home"></i>
								</a></li>
								<li class="breadcrumb-item" style="float: left;"><a
									href="#!">publisher</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Multi Table -->
			<div class="page-body">
				<div class="row">
					<div class="col-sm-12">

						<div class="card">
							<div class="card-header">
								<h5>Show all publisher list</h5>
								<span></span>
							</div>
							<div class="card-block">
								<div class="dt-responsive table-responsive">
									<div id="multi-colum-dt_wrapper"
										class="dataTables_wrapper dt-bootstrap4">

										<div class="row">
											<div class="col-xs-12 col-sm-12">
												<table id="multi-colum-dt"
													class="table table-striped table-bordered nowrap dataTable"
													role="grid" aria-describedby="multi-colum-dt_info">
													<thead>
														<tr role="row">
															<th class="sorting_asc" tabindex="0"
																aria-controls="multi-colum-dt" rowspan="1" colspan="1"
																aria-sort="ascending"
																aria-label="Name: activate to sort column descending"
																style="width: 20px;">Id</th>
															<th class="sorting" tabindex="0"
																aria-controls="multi-colum-dt" rowspan="1" colspan="1"
																aria-label="Position: activate to sort column ascending"
																style="width: 120px;">Name</th>

															<th class="sorting" tabindex="0"
																aria-controls="multi-colum-dt" rowspan="1" colspan="1"
																aria-label="Salary: activate to sort column ascending"
																style="width: 5px;">Status</th>

															<th class="sorting" tabindex="0"
																aria-controls="multi-colum-dt" rowspan="1" colspan="1"
																aria-label="Salary: activate to sort column ascending"
																style="width: 50px;">Last Updated</th>
															<th class="sorting" tabindex="0"
																aria-controls="multi-colum-dt" rowspan="1" colspan="1"
																aria-label="Salary: activate to sort column ascending"
																style="width: 95.4375px;">Action</th>
														</tr>
													</thead>
													<tbody>
														<tr role="row" class="even"
															th:each="publisher : ${publishers}">
															<td th:text="${publisher.id}"></td>
															<td th:text="${publisher.name}"></td>
															<td th:if="${publisher.status == 1}"><label
																class="label label-success">Active</label></td>
															<td th:if="${publisher.status == 0}"><label
																class="label label-danger">Inactive</label></td>


															<td
																th:text="${publisher.updatedTime} ? ${#dates.format(publisher.updatedTime, 'dd/MM/yyyy - HH:mm')} : ${#dates.format(publisher.createdTime, 'dd/MM/yyyy - HH:mm')}"></td>


															<td>
																<div class="dropdown-warning dropdown open">
																	<button
																		class="btn btn-warning dropdown-toggle waves-effect waves-light "
																		type="button" id="dropdown-5" data-toggle="dropdown"
																		aria-haspopup="true" aria-expanded="false">Action</button>

																	<div class="dropdown-menu" aria-labelledby="dropdown-5"
																		data-dropdown-in="fadeIn" data-dropdown-out="fadeOut"
																		style="will-change: transform;">
																		<a class="dropdown-item waves-light waves-effect"
																			th:href="@{'/admin/publisher/edit/'+ ${publisher.id}}">Edit</a>
																
																		<div class="dropdown-divider"></div>
																		<a class="dropdown-item waves-light waves-effect"
																			th:href="@{'/admin/publisher/delete/' + ${publisher.id}}">Delete</a>

																	</div>
																</div>

															</td>
														</tr>
													</tbody>


												</table>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>

	</div>


</body>
</html> 	